{% extends "bootstrap.html.twig" %}

{% block body %}

  <img src="{{ asset("images/samourai.jpg")}}" alt="image ancienne de samourai" class="w-100">
  <h1 class="text-capitalize text-center display-5 my-3">mushin-ryu : le ju-jutsu aérien
  </h1>
  <p>
  Le Mushin-ryu est une école (ou ryū) martiale qui met l'accent sur le concept de "mushin" (無心), un terme japonais qui signifie littéralement "esprit sans pensées" ou "esprit vide". C'est un état mental de grande importance dans les arts martiaux japonais, notamment dans les pratiques telles que le ju-jutsu, le kenjutsu (l'art du sabre), ou encore le zen.</p>
  <h2>Origines et significations</h2>
  <p>
  Le terme mushin vient du bouddhisme zen et se réfère à un état d'esprit dans lequel le pratiquant agit sans être distrait par des pensées, des émotions ou des doutes. En d'autres termes, c'est un état de pleine conscience où l'on réagit instinctivement, sans être freiné par une réflexion consciente. Cet état est crucial dans les arts martiaux où la rapidité et l'efficacité des actions sont essentielles.
  </p>
  <p>Le terme "ryū" (流) signifie "école" ou "courant" et est utilisé pour désigner des traditions ou styles particuliers dans les arts martiaux japonais. Ainsi, le Mushin-ryu désigne une école ou un style d'art martial qui met en avant l'état de mushin comme fondement de ses enseignements.</p>


{% endblock %}

